@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

* {
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --border-color: #eaeaea;
}

body {
  background-color: #f2d5ff;
  height: 667px;
}

.upper-section {
  margin: 5rem auto;
  background-color: #ec755d;
  border-radius: 5px;
  width: 343px;
  height: 91px;
  box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.23) 0 6px 6px;
}

.line-up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
}

.line-up span {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  margin-top: -1.8rem;
}

.number {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  margin-left: 1.1rem;
  margin-top: -3rem;
}

.lower-cont {
  background-color: #fff;
  height: 421px;
  width: 343px;
  margin: -4rem auto;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.23) 0 6px 6px;
}

.container {
  display: flex;
  margin: 2rem auto;
  width: fit-content;
}

.chart-container {
  display: flex;
  align-items: center;
}

.bar {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  margin: 0.1rem;
  position: relative;
  height: 200px;
  width: 42px;
}

.chart-item:last-child .bar {
  margin-right: 0;
}

.bar-item {
  border-radius: 5px;
  position: absolute;
  height: calc(var(--barSize) * 1%);
  width: 85%;
  bottom: 0;
  cursor: pointer;
}

.chart-item:nth-child(1) .bar-item {
  background-color: #ec755d;
}

.chart-item:nth-child(2) .bar-item {
  background-color: #71d0ff;
}

.chart-item:nth-child(3) .bar-item {
  background-color: #ec755d;
}

.chart-item:nth-child(4) .bar-item {
  background-color: #ec755d;
}

.chart-item:nth-child(5) .bar-item {
  background-color: #ec755d;
}

.chart-item:nth-child(6) .bar-item {
  background-color: yellow;
}

.chart-item:nth-child(7) .bar-item {
  background-color: magenta;
}

.bar-item:hover::before {
  content: attr(title);
  position: absolute;
  background-color: #382314;
  border-radius: 4px;
  top: -33px;
  left: 0;
  color: #fff;
  padding: 8px 4px;
  font-size: 0.57rem;
}

.bar-item:hover::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: -5px;
  left: 13px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #382314;
  z-index: 2;
}

.bar-label {
  margin-top: 0.5rem;
  margin-left: 0.9rem;
  color: #92857a;
  font-size: 0.6rem;
  font-weight: 500;
}
