@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

* {
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2d5ff;
  height: 667px;
}

.upper-section {
  margin: 5rem auto;
  background-color: #ec755d;
  border-radius: 5px;
  width: 343px;
  height: 91px;
}
