@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

* {
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --border-color: #eaeaea;
}

body {
  background-color: #f2d5ff;
  height: 667px;
}

.upper-section {
  margin: 5rem auto;
  background-color: #ec755d;
  border-radius: 5px;
  width: 343px;
  height: 91px;
  box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.23) 0 6px 6px;
}

.line-up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
}

.line-up span {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  margin-top: -1.8rem;
}

.number {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  margin-left: 1.1rem;
  margin-top: -3rem;
}

.lower-cont {
  background-color: #fff;
  height: 390px;
  width: 343px;
  margin: -4rem auto;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.23) 0 6px 6px;
}

.lower-cont p {
  font-size: 1.3rem;
  font-weight: bold;
  color: #382314;
  text-align: center;
  align-items: center;
  margin: 1rem auto;
  padding-top: 2rem;
  text-shadow: 2px 2px 4px #9c7355;
}

.container {
  display: flex;
  margin: 2rem auto;
  width: fit-content;
}

/* .chart-container {
  display: flex;
  align-items: center;
} */
/* 
.bar {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  margin: 0.1rem;
  position: relative;
  height: 160px;
  width: 42px;
} */

/* .chart-item:last-child .bar {
  margin-right: 0;
} */

.bar-item {
  border-radius: 5px;
  position: absolute;
  height: calc(var(--barSize) * 1%);
  width: 85%;
  bottom: 0;
  cursor: pointer;
}

.bar-label {
  margin-top: 0.5rem;
  margin-left: 0.9rem;
  color: #92857a;
  font-size: 0.6rem;
  font-weight: 500;
}

hr {
  width: 80%;
  border: 1px solid var(--border-color);
  margin: -1.5rem auto 1rem auto;
}

.base {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.base .left {
  margin-left: 1.5rem;
  margin-top: 1.5rem;
}

.base .right {
  margin-right: 1.5rem;
  margin-top: 1.5rem;
}

.base .left span {
  color: #92857a;
  font-size: 0.9rem;
  font-weight: 500;
}

.base .right span {
  color: #92857a;
  font-size: 0.9rem;
  font-weight: 500;
}

.base .left .cash {
  color: #382314;
  font-size: 1.5rem;
  font-weight: 700;
}

.base .right .percent {
  color: #382314;
  font-size: 1rem;
  margin-left: 3.6rem;
  font-weight: 700;
}

@media (min-width: 768px) {
  .upper-section {
    width: 540px;
    height: 125px;
  }

  .line-up {
    padding: 0 1.5rem;
  }

  .line-up span {
    font-size: 1rem;
  }

  .number {
    margin-top: -3.7rem;
    font-size: 1.6rem;
    padding-left: 0.7rem;
  }

  .lower-cont {
    width: 540px;
    height: 511px;
  }

  .lower-cont p {
    font-size: 2rem;
    margin-left: 2.2rem;
    margin-bottom: 4rem;
    text-align: left;
    text-shadow: none;
  }

  .bar {
    width: 40px;
    margin: 1rem;
    padding: 0 1.5rem;
  }

  .bar-item {
    margin: 0 1rem 0.5rem -1rem;
    height: calc(var(--barSize) * 1.8%);
    width: 90%;
  }

  .bar-item:hover::before {
    content: attr(title);
    position: absolute;
    top: -40px;
    left: -8px;
    padding: 8px 8px;
    font-size: 1rem;
    color: #fff;
    background-color: #382314;
  }

  .bar-item:hover::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: -14px;
    left: 16px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid #382314;
  }

  .chart-item:last-child .bar {
    margin-right: 0;
  }

  .bar-label {
    font-size: 1rem;
    margin-left: 0.9rem;
  }

  .base {
    margin-top: -1rem;
    margin-left: 1.4rem;
    margin-right: 1.4rem;
  }

  .base .left span {
    font-size: 1.19rem;
  }

  .base .right span {
    font-size: 1.19rem;
  }

  .base .left .cash {
    font-size: 3rem;
  }

  .base .right .percent {
    font-size: 1.4rem;
    margin-left: 4.5rem;
  }
}
